
/* 
    Created on : Jul 12, 2019, 10:44:13 AM
    Author     : bobbysmedley
*/

h1 {
    font-family: Arial;
    color: cadetblue;
}

#signupForm label{
    display: inline-block;
    font-weight: bold;
    font-family: Arial;
    font-size: 14px;
    margin: 5px 0px 5px 0px;
    width: 120px;
}

#signupForm button {
    display: inline-block;
    margin-left: 200px;
    border: 1px outset darkgray;
    background-color: whitesmoke;
    height: auto;
    width: auto;
}
